<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<h2>Все пользователи</h2>
<table border="1">

    <tr>
        <th>name</th>
        <th>surname</th>
        <th>department</th>
        <th>salary</th>
        <th>update</th>
        <th>delete</th>
    </tr>

     <tr th:each="user : ${allUsers}">
        <td th:utext="${user.getName()}">Имя</td>
        <td th:utext="${user.getSurname()}">Фамилия</td>
        <td th:utext="${user.getDepartment()}">Отдел</td>
        <td th:utext="${user.getSalary()}">Зарплата</td>
        <td>
            <a th:href="@{/edit/{id}(id=${user.getId()})}">Обновить</a>
        </td>
         <td>
             <a th:href="@{/delete/{id}(id=${user.getId()})}">Удалить</a>
         </td>
    </tr>


</table>
<br>
<input type="button" value="Добавить пользователя" onclick="window.location.href='addUser'">

</body>
</html>